body {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #282c34;
  color: white;
}

h2 {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h3 {
  color: orange;
}

header {
  background-color: white;
}

.profile {
  background-color: #563d41;
}

.profile img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.profile h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0px;
  padding: 40px;
}

#main {
  background-color: white;
}

.left-column {
  background-color: #b56f56;
  color: white;
  display: block;
}

.right-column {
  background-color: white;
  color: #555;
  display: block;
}

.right-column h3 {
  font-size: 22px;
}

.right-column h4 {
  margin-left: 25px;
  font-size: 20px;
}

.top {
  text-align: center;
  color: #555;
}

.boxes, .boxes1 {
  padding: 20px;
}

.bottom-box {
  background-color: #563d41;
  text-align: center;
  color: white;
}

.bottom-box a {
  color: white;
  font-size: 50px;
  padding: 0 30px 0 30px;
  margin-top: 50px;
}

.bottom-box > div {
  padding: 5px;
}

footer {
  height: 20px;
  background-color: red;
  font-size: 13px;
  color: white;
}

footer p {
  text-align: center;
}

/**Media Queries**/

@media only screen and (min-width: 800px) {
  body {
    max-width: 800px;
  }

  .profile {
    background-color: #563d41;
    max-width: inherit;
    min-width: 800px;
    position: absolute;
    top: 80px;
    height: 120px;
  }

  .profile-1 {
    min-width: 40%;
  }

  .profile-2 {
    min-width: 60%;
  }

  .profile img {
    display: block;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    padding: 10px;
    background-color: orange;
    position: relative;
    top: -42px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }

  .profile h1 {
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: -26px;
  }

  .profile::after {
    content: "";
    clear: left;
    display: table;
  }

  .left-column, .profile-1 {
    max-width: 40%;
    float: left;
  }

  .right-column, .profile-2 {
    max-width: 60%;
    float: left;
  }

  .top {
    padding-top: 16px;
  }

  .top .top-text {
    padding: 0 30px 0 30px;
  }

  .left-column > div:first-child {
    padding-top: 260px;
  }

  .left-column > div:last-child {
    padding-bottom: 214px;
  }

  .right-column > div:first-child {
    padding-top: 0px;
  }

  .right-column > div:nth-child(2) {
    margin-top: 115px;
  }

  #main::after {
    content: "";
    clear: both;
    display: table;
  }
  .bottom-box > div {
    padding: 15px;
  }

  footer p {
    text-align: right;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1000px;
  }

  .profile {
    min-width: 1000px;
    top: 60px;
    height: 120px;
  }

  .profile-1 {
    min-width: 30%;
  }

  .profile-2 {
    min-width: 70%;
  }

  .profile h1 {
    font-size: 85px;
    margin-top: -36px;
  }

  .left-column, .profile-1 {
    max-width: 30%;
  }

  .right-column, .profile-2 {
    max-width: 70%;
  }

  .top {
    padding-top: 0px;
  }

  .top .top-text {
    padding: 0 10px 0 10px;
  }

  .left-column > div:first-child {
    padding-top: 240px;
  }

  .left-column > div:last-child {
    padding-bottom: 12px;
  }

  .right-column > div:first-child {
    padding-top: 16px;
  }

  .right-column > div:nth-child(2) {
    margin-top: 120px;
  }

  .bottom-box > div {
    padding: 35px;
  }
}
